*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    margin: 0px auto;
    width:80%;
}
.flex{
    display:flex;   
    align-items:center;
    justify-content: space-between;
}
#menu{
    list-style-type: none;
    display:flex;
    align-items:center;
}
i{
    color: #514D59;
}
#menu a{
    padding:15px;
}
#menu li:last-of-type{
    margin-left: 30px;
}
header{
    padding:10px 0px;
}
body{
    background-image: url(group.png);
    background-size:100% 50rem;
    background-repeat:no-repeat;
    background-position: center top;
}
#first{
    margin-top:45rem;
    text-align: center;
}
#first h1{
    font-size:70px;
    font-weight: 600;
    padding:30px;
    color:#514D59
}
.icon{
    font-size:20px;
}
.goods{
    list-style-type: none;
    display:flex;
    margin: 10px 10px 30px 10px;

}
.goods li{
    margin:0px 10px;
    width: 400px; 
    height: auto;
    padding:20px;
}
.goods li h3{
    font-size:22px;
    padding:20px;
}
#title{
    font-size:auto;
    color: white;
    background: black;
    width: 180px;
    height: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 120px;
    display:flex;
    align-items:center;
    justify-content: center;
}
#blur{
    background: rgba(255, 255, 255, 0.6499999761581421);
    box-shadow: 0px 0px 0px 0px rgba(81, 77, 89, 0.15000000596046448),
    0px 12px 27px 0px rgba(81, 77, 89, 0.15000000596046448),
    rgba(81, 77, 89, 0.019999999552965164),
    0px 304px 85px 0px rgba(81, 77, 89, 0);
    padding: 25px;
    width: 920px;
    height: 180px;
}
#content{
    background-color: white;
    border-radius: 20px;
    width: 870px;
    height: 130px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
#booking{
    transform:translate(80px, 170px);
}
.form-group{
    display:flex;
    align-items:center;
    padding:30px;
}
.form-group input{
    border: none;
    outline:none;
}
#booking-form{
    display:flex;
}
.icon-color{
    color:#884aff;
    font-size:24px;
}
.form-group i{
    margin:15px;
}
input::placeholder {
    font-size: 20px;
}
#content img{
    display:flex;
    align-self:center;
    margin:10px;
}