*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    font-family: Arial;
}
#top{
    padding:20px;
    padding-bottom:10px;
    margin-top: 40px;
}
li{
    margin-left: 10px;
    list-style-type: none;
    padding:10px;
    margin-right: 10px;;
}
a{
    text-decoration: none;
    color:black;
}
#dropdown{
    background:#ddd;
    display: none;
}
#top:hover + #dropdown{
    display:flex;
}
