*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #DFDFDF;
    display:flex;
    align-items: center;
    height:100vh;
}
#meow{
    height:70vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 30px 50px 30px 30px;
    width:450px;
    margin-left: auto;
    margin-right: auto;
    border-radius:30px;
    font-size:20px;
}
img{
    width:180px;
}
#top-cat{
    position:absolute;
    z-index:-1;
    transform: translate(440px, -270px);
}
#bottom-cat{
    z-index:2;
    transform: translate(-600px, 280px);
}