*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #EEEEEE;
    display:flex;
    align-items:center;
}
#container{
    background-color: white;
    width: 40%;
    height:80vh;
    margin:auto;
    margin-top:70px;
    padding:40px;
    display:flex;
    align-items: center;
    flex-direction: column;
}
h1{
    font-weight:700;
    text-align:center;
    font-size:50px;
    margin-bottom: 50px;
}
button{
    background-color: yellow;
    font-size:xx-large;
}
label{
    font-size:35px;
}
input{
    font-size: 30px;
}